/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.container-grid{
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-areas: ". grid-content .";
    min-height: 100vh;

    .grid-content{
        grid-area: grid-content;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

