/* =============
    Skills
============= */

#skills{

    @include xl{
        display: grid;
        grid-template-columns:  auto 1200px auto;
        grid-template-areas: ". skills .";
    }

    >div{
        @include lg{
            display: grid;
            grid-template-columns: 40% auto;
        }
        @include xl{
            grid-area: skills;
        }

        aside{

        }
    
    
        #skills-content{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". skills-content .";
            background-color: $charcoal;
            color: $white;
    
            @include md{
                grid-template-columns: 10% auto 10%;
            }
        
            >div{
                grid-area: skills-content;
            } 
        }
    }

    
     
}   