/* =============
    Skynet
============= */


#skynet{

    >div{
        display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". skynet-content .";
        ul{
            gap:16px;
            display: grid;
            grid-area: skynet-content;
            grid-template-areas:
            "s7" 
            "s1"
            "s6"
            "s3";

            @include md{
                // grid-template-columns: 50% 50%;
                grid-template-columns: 50% auto;
                // grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                "s1 s3" 
                "s1 s7"
                "s5 s6";
            }
            
            li{
    
            }

            #s1{
                grid-area: s1;
            }

            #s2{
                display: none;
            }

            #s3{
                grid-area: s3;
            }

            #s4{
                display: none;
            }

            #s5{
                display: none;
                @include md{
                    display: list-item;
                }
            }

            #s6{
                grid-area: s6;
            }

            #s7{
                grid-area: s7;
            }
        }
    }

    
}