/* =============
    Header
============= */
header {
    background-color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;


    // @include xl{
    //     display: grid;
    //     grid-template-columns: auto 1200 auto;
    //     grid-template-areas: ". header .";
    // }

    >div {
        display: grid;
        grid-template-areas: 
        "logo burger"
        "nav nav";
        grid-template-columns: 20% auto;
        // border: 1px solid red;

        @include lg {
            grid-template-areas: "logo nav";
            grid-template-columns: 20% auto;
        }

        // @include xl{
        //     grid-area: header;
        // }

        #logo-container {
            grid-area: logo;
            padding: 10px;
            // border: 1px solid green;

           a:link, a:visited {
                transition: 0.25s;

                &:hover {
                }
            }

            
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 10px;

            @include lg {
                display: none !important;
            }

            i {
                margin-left: auto;
                cursor: pointer;
                font-size: rem-calc(30);
            }
        }

        #nav-container {
            // border: 1px solid blue;
            background-color: $charcoal;
            display: none;
            grid-area: nav;
            padding: 20px 10px 10px;

            @include lg {
                background-color: $white;
                display: block !important;
            }
        }
    }
}