/* =============
    Header
============= */
header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    padding: 30px 0;

    @include md{
        grid-template-columns: 32px auto 32px;
    }

    >div{
        grid-area: header;
        width: 100%;
        // border: 1px solid red;
        display: flex;

        aside{
            margin-left: auto;

            button{
                background-color: $yellow;
                border: none;
                padding: 10px 25px;
                border-radius: 23px;
                font-weight: 700;
                transition: 0.25s;
                cursor: pointer;
                
    
                &:hover{
                    background-color: $black;
                    color: $white;
                }
            }
        }

        
    }
}